@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

#particles-js{
    height: 100%;
    width: 100%;
    background:white ;
    position: absolute;
}
.hero {
    height: 100vh;
    width: 100%;

    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    flex-wrap: wrap;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.knop {
    color: #1ed2f1;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #1ed2f1;
    transition: 0.4s;
}

.btn {
    background-color: #1ed2f1;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 25px;
    transition: transform .4s;
    box-shadow: 0px 0px 5px #000;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50)
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #1ed2f1;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #000, 0px 0px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #1ed2f1;
    color: rgb(6, 6, 6);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    transition: .6s;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #04293A;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-height: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.talk {
    background-color: #1ed2f1;
    color: rgb(4, 3, 3);
    text-decoration: none;
    border: 2px solid transparent;
    font-size: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.talk:hover {
    background-color: transparent;
    border: 2px solid #1ed2f1;
    cursor: pointer;
}
.service {
    background-color: #064663;
    width: 100%;
    padding: 10px 0px;
}
.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card {
    min-height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #1ed2f1;
}

h5 {
    color: white;
    font-size: 23px;
    margin-top: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #1ed2f1;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #1ed2f1;
    cursor: pointer;
}
.section--third{
    background-color: #ECB365;
    display: flex;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
}  
.review--titel{
    color: #04293A;
    font-size: 75px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
    text-align: center;
    background-color:#ECB365 ;
}
.arrow{
    width: 5%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color:rgb(254, 254, 254);
    padding: 5px;
    margin: 80px;
    border-radius:6px;
    position: relative;
    overflow: hidden;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.arrow::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background:
    linear-gradient(115deg,
    #4fcf70, #fad648,
    #a767e5, #12bcfe,
    #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
}
.arrow:hover::before {
    cursor: pointer;
    animation: animate_border
    .75s linear infinite;
}
.arrow span{
    display: block;
    background-color: #04293A;
    padding: 10px 20px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
}
@keyframes animate_border {
    to {
        transform: translateX(-50%);
    }
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    gap: 20px;
    flex-wrap: wrap;
}
.review:nth-last-of-type(4), .review:nth-last-of-type(5), .review:nth-last-of-type(6){
    display: none;
}
.review{
    width: 300px;
    min-height: 200px;
    background-color: #04293A;
    list-style: none;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.377),
    inset 0px -10px 10px -10px rgb(146, 139, 139);
    padding: 40px;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}
.review:hover{
    background-color: transparent;
    border: 2px solid #639da8;
    cursor: pointer;
}
.quote{
    font-size:500%;
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.3;
    color: wheat;
}
.stars{
    color: gold;
}
.review p{
    font-size: 18px;
    border-bottom:4px solid rgb(52, 41, 41);
    padding-bottom: 15px;
    color: white;
}
@keyframes fadeIn{
    from{
        opacity:0;
        filter: blur(10px);
    }
    to{
        opacity:1;
        filter: blur(0);
    }
    
}
.contact-me {
    width: 100%;
    height: 400px;
    min-height: auto;
    padding: 15px;
    margin: 0px;
    background: #615f5f;;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}

.contact-me .button-two {
    background-color: #1ed2f1;
    color: rgb(247, 247, 247);
    text-decoration: none;
    border: 2px solid transparent;
    font-size: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}

.button-two:hover {
    background-color: transparent;
    border: 2px solid #1ed2f1;
    cursor: pointer;
}

.contact-me img {
    padding: 2px;
    margin: 10px;
    width: 18%;
    margin-left: -0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #1ed2f1;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer p:nth-child(1){
    font-size:30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a {
    font-size: 36px;
    text-shadow: 0 0 0px;
    transition: 0.3 ease;
}

.social-icons li a:hover {
    text-shadow: 0 0 10px;
    transition: .4s;
}

@media screen and (max-width: 800px ) {
    .arrow{
        display: none;
    }
    .reviews{
        width: 100%;
    }
}